{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <br>

    <style>
        ::placeholder {
        color: gray;
        }

        h1 {text-align: center;}

        h6 {text-align: center;}

    </style>


    <h1>Welcome to the Recipe Master</h1>

    <h6>Just enter a type of food to receive a list of recipes for it!</h6>

<form action="/recipes" method="POST" >
    <label>Food:</label>
    <input type="text" name="food" placeholder="ex: burger">
    <br>
    <button>Submit</button>
</form>
    
{% endblock %}