{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <!-- for the search icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        ::placeholder {
        color: gray;
        }

        form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 20%;
        background: #f1f1f1;
            margin-top: 4%;
            margin-left: 39%;
        }

        form.example button {
        float: left;
        width: 4%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
            margin-top: 4%;
            margin-left: 0px;
            margin-bottom: 28%;
        }

        form.example button:hover {
        background: #0b7dda;
        }

        form.example::after {
        content: "";
        clear: both;
        display: table;
        }

        .center{
            margin-top: 25%;
            margin-left: 25%;
        }


    </style>



    <h1 class="center">Welcome to the Recipe Master</h1>

    <form class ="example" action="/recipes" method="POST">
        <input type="text" placeholder="Find a recipe" name="food">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>


    
{% endblock %}
