
{% extends "bootstrap_layout.html" %}

{% block content %}


<style>
    .img-container {
      text-align: center;
    }
    .center {
  text-align: center;
  list-style-position: inside;
    }
</style>



<h1>Recipe List for '{{food}}'...</h1>


<ol class = "center">

{% for i in range(0, recipe_list|length) %}
<div class="img-container">
        <li>
        
            {{recipe_list[i]}}
        </li>
    


    <img src = "{{'https://spoonacular.com/recipeImages/' + recipe_photos_list[i]}}" style="width:500px;height:600px;" >
    
    </div>

    

{% endfor %}
</ol> 

<!-- {% for recipe_photo in recipe_photos_list %}

    <img src = "{{'https://spoonacular.com/recipeImages/' + recipe_photo}}">



{% endfor %} -->


<form action="/recipes/ingredients" method="POST" >
    <label>Number:</label>
    <input type="text" name="recipe" placeholder="1-10">
    <br>
    <button>Submit</button>
</form>


{% endblock %}


